<%- include('header') %>
<div class="container my-2">
<div class="card-group">
    <div class="card">
      <img src="/Mesut-Ozil.jpg" class="card-img-top" alt=" ">
      <div class="card-body">
        <h5 class="card-title">Mesut Ozil has been removed from Fenebahce?</h5>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
    <div class="card">
      <img src="/mci-rm.jpg" class="card-img-top" alt=" ">
      <div class="card-body">
        <h5 class="card-title">Manchester City 4-3 Real Madrid</h5>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
    <div class="card">
      <img src="/ronaldo.jpg" class="card-img-top" alt=" ">
      <div class="card-body">
        <h5 class="card-title">Suport for Ronaldo family</h5>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
</div>
<%- include('footer') %>